USE [thanhtan]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[students](
    [id] INT IDENTITY(1,1) NOT NULL,
    [name] NVARCHAR(100) NOT NULL,
    [email] NVARCHAR(100) NOT NULL UNIQUE,

    CONSTRAINT PK_students PRIMARY KEY CLUSTERED ([id] ASC)
)
GO